@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  min-height: -webkit-fill-available;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f1f5f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
